---
const { number, title, description, href } = Astro.props;
---

<a href={`${href}`} class="link-card">
    <div class="link-header">
        <div class="link-icon">{number}</div>
        <div class="link-title">{title}</div>
    </div>
    <p class="link-description">{description}</p>
    <div class="link-url">
        Visit resource <span class="arrow">→</span>
    </div>
</a>
